.profile-item {
    margin-bottom: 16px;
}

    .profile-item label {
        display: block;
        font-size: 12px;
        color: gray;
        margin-bottom: 4px;
    }

    .profile-item div {
        font-size: 16px;
        font-weight: 500;
    }
