body {
    font-family: 'Segoe UI',sans-serif;
    color: var(--text);
    background: var(--background);
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

h2 {
    font-size: 26px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

p {
    color: var(--text-secondary);
}
